__pycache__/
*.so

.ruff_cache/
.pytest_cache/
.mypy_cache/

.vscode/
.cache/
build/
.clangd
compile_commands.json
CMakeUserPresets.json

yaml/native
yaml/templates
yaml/gen_native/
src/gen_native/
src/gen_functions/

torch_nupu/_version.py
torch_nupu/bin
torch_nupu/include
torch_nupu/lib
torch_nupu/share

# TODO: support autogen type-hint
torch_nupu/_C.pyi
